extends layout

block content
    
block sidebar
  .row
    .col-sm-12
      form.form-inline(action="")
        .form-group
          input#article
          button.btn.btn-primary Find

block scripts
  script(src='javascripts/radii.js')