doctype html
html
  head
    title= "Six Degrees of Wikipedia"
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src="http://d3js.org/d3.v3.min.js")
    link(rel='stylesheet', href='/stylesheets/circles.css')
  body
    block content
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    block scripts